@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-dmsans: "DM Sans", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-primary: #e95102;
  --color-secondary: #0f100d;
  --color-third: #fdece3;
  --color-fourth: #646464;
  --color-fifth: #878786;
  --color-sixth: #e0e0e0;
  --color-seventh: #e951021f;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .chip {
    @apply bg-third rounded-full text-primary font-bold text-base py-2 px-5;
  }

  .button-icon {
    @apply bg-primary text-white p-3 rounded-full cursor-pointer;
  }

  .input-subscribe {
    @apply bg-white border-2 border-primary w-full rounded-full py-3 px-5;
  }
  .title-section {
    @apply font-semibold text-[64px] leading-[64px] text-left;
  }
  .title-footer {
    @apply font-bold text-[20px] text-left;
  }
  .badge-film {
    @apply font-medium absolute top-0 left-0 bg-third text-primary py-[8px] px-[12px] rounded-br-2xl;
  }
}

* {
  font-family: var(--font-dmsans);
  box-sizing: border-box;
}
